
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="{{ url("auction_index") }}">Aukcje</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url("my_auction_index") }}">Moje aukcje</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url("my_auction_add") }}">Dodaj aukcje</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url("fos_user_security_logout") }}">Wyloguj się</a>
  </li>
</ul>




